.title {
    padding-left: 10px;
    padding-top: 0px;

}

.startBtn {
    width: 100px;
    height: 32px;
    border-radius: 12px;
    background-color: green;
    font-size: 1.0rem;
    padding: 0;
    box-shadow: none;
}

.stopBtn {
    width: 100px;
    height: 32px;
    border-radius: 12px;
    background-color: red;
    font-size: 1.0rem;
    margin-left: 10px;
    border: none;
    box-shadow: none;
}

.columnrowbtnpadding {
    float: right;
    padding-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.leftrow {
    width: 25%;
}

.rightrow {
    width: 262px;
    height: 32px;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 1.0rem;
    border: none;
    border-radius: 32px;
    padding: 8px, 24px, 8px, 24px;
    left: 786px;
    gap: 12px;

}

.row1:after {
    content: "";
    display: table;
    clear: both;
}


.column1 {
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    float: left;
    width: auto;
    border: 10px;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}

.linetitle {
    margin: 0;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace black;
    color: black;
    font-size: 1.0rem;
    font-weight: bold;
}

.fontsize {
    color: rgb(0, 0, 0);
}

.ptagRemove {
    display: inline;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 1.0rem;
}

/* @media screen and (max-width: 600px) {
    .column1 {
        width: 100vw;
    }
}

@media screen and (max-width: 600px) {
    .column2 {
        width: 100vw;
    }
}

@media screen and (max-width: 1000px) {
    .rightrow {
        margin-left: 10px;

    }
} */