.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  /* padding-left: 10px; */

  
}

.scrollmenu .aa {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center; 
  border: none;
  padding: 2px;
  width:auto;
  /* box-shadow: 2px 2px 2px 12px rgb(31, 44, 44); */
}

hr {
  /* background-color: black; */
  /* border: none; */
  size: 1;
}

.h3 {
  font-family: Arial;
  font-size: 25px;
  color: black;
  text-align: left;
  padding: none;
  border: none;
}

.inside_card_padding {
  padding: 5px;
}

.padnone {
  padding: none;
}

.rowss {
  background-color: rgb(1, 1, 1);
  text-align: left;
}

.test {
  /* border-style:dotted; */
  border-color: #ED1616;
  border-radius: 10px;
  padding-top: 10px;

}
.card-stats{
  width: 190px;
  height: auto;
}
/* .test{
  position: relative;
} */
.no-data-msg{
  font-size: large;
  font-weight: bold;
  align-content: center;
}
 /*.min-width {
  min-width: 200px; or width: 150px; 
}

/*
 .formInFrountPage{
min-width: 30px;
}

.forminFirstpage{
  display: block;
  direction: ltr;
} */
/* .center-form {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* test */
/* .column {
  float: left;
  width: 33.33%;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}
.column9 {
  float: left;
  width: 33.33%;
}
.column7 {
  float: left;
  width: 33.33%;
} */
/* .column {
  float: left;
}

.left {
  width: 50%;
  height: 50px;
  align-content: center;

} */

/* .middle,
.right {
  width: 25%;
} */